@import '../../../styles/card.scss';

#head {
  font-size: 150%;
  color: #4553a5;
  padding-left: 15px;
  font-family: Futura, serif;
  text-align: center;
}

.input-custom {
  font-family: "Comic Sans MS", serif;
}
