@import '../../../styles/card.scss';

#head {
  font-size: 150%;
  color: brown;
  padding-left: 15px;
  font-family: Futura, serif;
  text-align: center;
}

.input-custom {
  font-family: Radical, serif;
}
