<div class="card">
  <h2 id="head">Création Quiz</h2>
  <form [formGroup]="quizForm" class="quiz-form">
    <label for="name">
      Titre:
      <input [formControlName]="'name'" class="input-custom" id="name" type="text">
    </label>
    <br>
    <label for="Theme">
      Theme:
      <input [formControlName]="'theme'" class="input-custom" id="theme" type="text">
    </label>
    <br>
    <label for="nbrQuestion">
      Nombre de questions:
      <input [formControlName]="'nbrQuestion'" class="input-custom" id="nbrQuestion" type="text">
    </label>
    <br>
    <button (click)="addQuiz()" class="button-card" type="submit">Valider</button>
  </form>
</div>
<!-- Uncomment below to see your form structure and how it changes-
<br>{{quizForm.getRawValue() | json}}-->
