<div class="container-fluid" id="about-container">
  <div class="container" id="about-content">

    <div class="row d-flex justify-content-center">

      <div class="column-2 px-2 mb-r text-center">

        <div class="card default-color-dark">

          <div class="view">
            <img alt="photo" class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%2810%29.jpg">
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <div class="card-body text-center">
            <h4 class="card-title white-text">Title of the news</h4>
            <p class="card-text white-text">Test Carte</p>
            <a class="btn btn-outline-dark btn-md" href="#">Button</a>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>



