<div *ngIf="showColor" id="colorDisplayer">
  <div *ngFor="let quiz of this.trheeByThreeArray(); let i = index">
    <div>
      <div *ngIf="quiz.color === 'blue'">
        <app-quiz-color [displayValues]="true" [quizColor]="quiz"></app-quiz-color>
      </div>
      <div *ngIf="quiz.color === 'greenyellow'">
        <app-quiz-color [displayValues]="true" [quizColor]="quiz"></app-quiz-color>

      </div>
      <div *ngIf="quiz.color === 'yellow'">
        <app-quiz-color [displayValues]="true" [quizColor]="quiz"></app-quiz-color>
      </div>
    </div>

  </div>

</div>

<div *ngIf="!showColor" class="container text-center">
  <div class="display-1">
    {{quizSelected[0].name}}
  </div>

  <div *ngFor="let quiz of this.trheeByThreeArray();" class="text-center" style="margin-left: 390px">
    <div>
      <app-quiz-color [displayValues]="false" [quizColor]="quiz"></app-quiz-color>

    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <label for="réponse" style="margin-top: 20px">
        Réponse :
        <input id="réponse" type="text">
      </label>
    </div>
    <div class="col-sm">
      <button (click)="next()" class="btn-primary" mdbBtn type="button">Suivant</button>
      <button (click)="basicModal.show()" [hidden]="true" id="modalBtn" type="button"></button>
      <button (click)="basicModalEnd.show()" [hidden]="true" id="modalBtnForEnding" type="button"></button>
      <button (click)="basicModalQuit.show()" [hidden]="true" id="modalBtnForQuitting" type="button"></button>
      <button (click)="basicModalQuit.hide()" [hidden]="true" id="modalQuithide" type="button"></button>
      <button (click)="basicModalEnd.hide()" [hidden]="true" id="modalendBtn" type="button"></button>
      <button (click)="basicModal.hide()" [hidden]="true" id="basic" type="button"></button>

    </div>
  </div>

  <div [hidden]="hideSeeSolution" class="alert alert-warning" role="alert">
    La réponse était {{this.scoreForThreeCard}}
  </div>

</div>

<!------------------------Modal For right or wrong answer----------------------->
<div #basicModal="mdbModal" aria-hidden="true" aria-labelledby="myBasicModalLabel" class="modal fade" mdbModal
     id="errorModal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="basicModal.hide()" aria-label="Close" class="close pull-right" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Erreur</h4>
      </div>
      <div class="modal-body">
        Mauvaise réponse recommencer
      </div>
      <div class="modal-footer">
        <button (click)="basicModal.hide()" aria-label="Close" class="waves-light" color="secondary" mdbBtn
                mdbWavesEffect type="button">Fermer
        </button>
      </div>
    </div>
  </div>
</div>
<!------------------------Modal For Final Score----------------------->

<div #basicModalEnd="mdbModal" aria-hidden="true" aria-labelledby="myBasicModalLabel" class="modal fade" id="modalEnd"
     mdbModal
     role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="basicModalEnd.hide()" aria-label="Close" class="close pull-right" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel1">FIN</h4>
      </div>
      <div class="modal-body">
        Fin Du jeu <br>
        Score : {{this.scoreForQuiz}}
      </div>
      <div class="modal-footer">
        <button (click)="this.closeModal('modalEnd')" aria-label="Close" class="waves-light" color="secondary" mdbBtn
                mdbWavesEffect type="button">Fermer
        </button>
      </div>
    </div>
  </div>
</div>
<!------------------------Modal For too many Attemtps----------------------->
<div #basicModalQuit="mdbModal" aria-hidden="true" aria-labelledby="myBasicModalLabel" class="modal fade" id="modalQuit"
     mdbModal
     role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="basicModalQuit.hide()" aria-label="Close" class="close pull-right" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel2">?</h4>
      </div>
      <div class="modal-body">
        Vous n'avez pas reussi à trouver la solution. <br>
      </div>
      <div class="modal-footer">
        <button (click)="navigateToThebegining()" aria-label="Close" class="waves-light" color="secondary" mdbBtn
                mdbWavesEffect type="button">Recommencer
        </button>
        <button (click)="this.seeCurrentSolution()" aria-label="Close" class="waves-light" color="primary" mdbBtn
                mdbWavesEffect type="button">Voir la Réponse
        </button>
      </div>
    </div>
  </div>
</div>


