<div [ngStyle]="{'background': getImageUrl()}" class="card text-white" id="view">
  <h1>
    {{quiz.name}}
  </h1>

  <div *ngIf="quiz.questions.length === 0; else second">
    <button (click)="selectQuiz()" class="button-card btn btn-primary btn-lg " disabled
            routerLink="/lancement/{{quiz.id}}" routerLinkActive="active">Selectionner
    </button>
  </div>

  <ng-template #second>
    <button (click)="selectQuiz()" class="button-card btn btn-primary btn-lg " routerLink="/lancement/{{quiz.id}}"
            routerLinkActive="active">Selectionner
    </button>
  </ng-template>
</div>
