<nav class="navbar navbar-expand-lg navbar-light  " id="nav">

  <i (click)="manageNav()" class="fa fa-reorder" id="sidenavTrigger" style="font-size: 24px"></i>

  <a class="navbar-brand text-white lead text-right" id="Polyquiz" routerLink="accueil">PolyQuiz</a>
  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
          class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="d-flex justify-content-end" id="header-left">
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link  " routerLink="accueil" routerLinkActive="active">Accueil <span
            class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle " data-toggle="dropdown"
             href="#" id="navbarDropdown" role="button">
            Quiz
          </a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu " id="quiz-content">
            <a class="dropdown-item text-dark " routerLink="quiz-form">Créer un quiz</a>
            <a class="dropdown-item text-dark" routerLink="view-list-quiz">Lancer un quiz</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-dark" routerLink="quiz-list">Voir les Quizzes</a>
          </div>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link " routerLink="resultats-record" routerLinkActive="active">Resulats</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link " routerLink="apropos" routerLinkActive="active">A Propos</a>
        </li>

        <li *ngIf="connectedUser === undefined;" class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle " data-toggle="dropdown"
             href="#" id="connextion" role="button">
            Connexion
          </a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu " id="connexion-content">
            <a class="dropdown-item text-dark " routerLink="user-sign-in">Se connecter</a>
            <a class="dropdown-item text-dark" routerLink="user-form">S'inscrire</a>
          </div>
        </li>

        <li #connected *ngIf="connectedUser != undefined" class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle " data-toggle="dropdown"
             href="#" id="connecter" role="button">
            <i class="fas fa-arrow-down"></i>
          </a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu " id="connecter-content">
            <a class="dropdown-item text-dark " routerLink="user-profil">Voir profil</a>
            <a class="dropdown-item text-dark" routerLink="user-list">Voir liste des Users</a>
            <a (click)="logOff()" class="dropdown-item text-dark" routerLink="accueil">Se deconnecter</a>

          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>


<div #sidebar [ngStyle]="{'visibility': toggle()}" id="sidebar-wrapper">
  <i (click)="closeNav()" class="fas fa-times" id="closeButton" style="font-size: 24px"></i>


  <ul (mouseleave)="mouseLeaveQuizDropdown()" class="sidebar-nav" id="content">
    <li><a (click)="closeNav()" routerLink="accueil" routerLinkActive="active">Accueil</a></li>
    <li id="sidebar-content">
      <a (mouseenter)="mouseEnterQuizDropdown()" class="dropdown-btn">Quiz<i class="fa fa-caret-down"></i></a>
      <div *ngIf="showdropdownContent" class="dropdown-container">
        <a (click)="closeNav()" class="dropdown-item " routerLink="quiz-form">Créer un quiz</a>
        <a (click)="closeNav()" class="dropdown-item " routerLink="view-list-quiz">Lancer un quiz</a>
        <a (click)="closeNav()" class="dropdown-item " routerLink="quiz-list">Voir les Quizzes</a>
      </div>
    </li>
    <li><a (click)="closeNav()" routerLink="resultats-record" routerLinkActive="active">Résultats</a>
    </li>
    <li><a (click)="closeNav()" routerLink="apropos" routerLinkActive="active">A propos</a>
    </li>
    <li>

    </li>
  </ul>
</div>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

