@import "../../styles/variables";

:host {
  color: white;
}

#nav {
  background-color: #323232;
  //color: black;
}

#sidenavTrigger {
}

#Polyquiz {
  margin-left: 30px;
}

#sidenavTrigger {
  color: white;
}

#sidenavTrigger:hover {
  cursor: pointer;
  color: red;
}

.sidebar-wrapper {
  height: max-content;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;;
}

#closeButton {
  width: 30px;
  height: 20px;
  margin-left: 22vh;
  color: #575757;
}

#closeButton:hover {
  cursor: pointer;
  color: whitesmoke;
}

.dropdown-container::before {

}

#content {
  padding-top: 60px;
  display: block;
}

#content::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: #f5f2e2;
  left: 0;
}

#content:hover::before {

}

.dropdown-container a {
  margin-left: 40px;
  font-size: 20px;
}

.dropdown-container a::before {

}

.dropdown-container a:hover {
  color: whitesmoke;
}

.dropdown-container {
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

li a {
  padding: 20px 30px;
  text-decoration: none;
  color: #ccc;
}

li a:hover {
  color: #fff;
  transition: 0.4s;
}

li a:hover::before {

}

@keyframes expand {

}

#dropdown-Content a:hover, {
  background-color: lightgray;
}

#header-left a:hover {
  background-color: #575757;
  color: whitesmoke;
}

#quiz-content a:hover, #connexion-content a:hover {
  background-color: #e2dfdf;
}

#header-left a {
  color: white;
}

.header {
  background: teal;
  padding: 0.5em;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

#header-left {
  margin-left: 1100px;
  align-content: flex-end;
}


body {
  height: 100%;
}

header {
  //background-color: whitesmoke;
  font-size: 100px;
  padding-bottom: 15px;
  //background-image: url("http://getwallpapers.com/wallpaper/full/7/2/7/662622.jpg");

}

header div img {
  float: left;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

#menu {
  background-color: whitesmoke;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#menu:hover, #menu:focus {
  background-color: steelblue;
  border: 1px solid black;
}


#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  //transition: all 0.4s ease 0s;
}

@keyframes ex {

}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width: 767px) {

  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    position: relative;
    left: 250px;
  }

  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }

  #menu-toggle {
    display: inline-block;
  }

  .inset {
    padding: 15px;
  }

}

/**
#img-polytech {
  margin-top: 15px;
  padding-left: 300px;
  display: block;
  position: static;
}

#img-epdhad1 {
  display: block;
  position: relative;
  float: left;
  max-width: 100px;
  right: 100px;
}

#APropos:active, #Accueil:active, #Gestion_quiz:active, #Lancement:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.rubrique a:hover {
  background-color: steelblue;
  color: lightskyblue;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

#APropos, #Accueil, #Gestion_quiz, #Lancement, {
  font-family: "Tahoma", Arial, sans-serif;
  border-radius: 2px;
  background-color: #004fb5;
  border: 1px solid wheat;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  box-shadow: 10px 5px 5px steelblue;
  overflow: auto;
  margin-right: 50px;
  text-decoration: none;
  float: right;
  position: relative;
}

.navbar {
  padding-top: 5px;
}

.dropdown {
  z-index: 1;
  display: inline-block;
}

.container-fluid {
  //background-image: url("http://getwallpapers.com/wallpaper/full/7/2/7/662622.jpg");
}**/
