@import '../../../styles/card.scss';

.container-fluid {
  font-family: Candara, monospace;
  width: 100%;
  height: 90vh;
  background: url("https://id.sonyentertainmentnetwork.com/signin/9cccd090cc9d79d84deda1e03ae1c407ea1dc561/assets/images/wallpaper.jpg");
}

article {
  padding-top: 100px;
}

.login-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.quiz-form {
  padding-top: 50px;
}

.login-form-2 {
  padding: 5%;
  //background: #0062cc;
  background: whitesmoke;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  //margin-left: 500px;
  //height: 90vh;
  border-radius: 25px;

}

.login-form-2 h1 {
  text-align: center;
  color: #fff;
  // margin-top: 100px;
}

.login-container form {
  padding: 10%;
}

.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.login-form-2 .btnSubmit {
  font-weight: 600;
  color: #0062cc;
  background-color: #fff;
}

.login-form-2 .ForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

