<div class="card text-center text-primary">
  <h2 class="text-center">Question</h2>
  <div class="row">
    <form [formGroup]="questionForm" class="quiz-form col-sm ">
      <label for="label">
        Titre <br>
        <input [formControlName]="'label'" class="input-custom " id="label" type="text">
      </label>
      <br>
      <button (click)="addAnswer()" class="button-card text-primary ">Ajouter les réponses</button>
      <div class="answer" formArrayName="answers">
        <div *ngFor="let address of answers.controls; let i=index">
          <div [formGroupName]="i" class="answer-form">
            <label>
              Réponse
              <input [formControlName]="'value'" type="text">
              <br>
              Correct
              <input [formControlName]="'isCorrect'" type="checkbox">
            </label>
          </div>
        </div>
      </div>

      <div class="File">
        <input class="input-group input-file" id="File" type="file">
      </div>

      <button (click)="addQuestion()" aria-pressed="true" class="btn-primary btn-lg active" data-toggle="button"
              type="submit">Creer
      </button>
    </form>
    <br>

    <!--<div class="file">
      <label class="text-secondary" for="exampleFormControlFile1">Ajouter une image (optionel)</label>
    </div>-->


  </div>

</div>

<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
