<section class="py-5 container-fluid " id="section">

  <div class="container-fluid">
    <h2 class="font-weight-light h1 text-center text-white mat-display-3" id="desc">Description</h2>

  </div>
  <div class="container text-center" id="description" style="font-size: 20px">
    <span class="border">

      <div class="container-fluid text-white bg-dark" id="part1"
           style="border-radius: 30px; background-color: black;font-family: Verdana, Geneva, sans-serif">
      <div class="row">
      <div class="col" style="margin-top: 150px">
        Pour la création d'un quiz se rendre dans la barre des taches:
      </div>
      <div class="col">
        <img alt="QuizBar" height="300px" src="../../../../assets/QuizBar.png" width="700px"> <br>
      </div>
    </div>

      <div class="row" style="margin-top: 30px">
      <div class="col" style="margin-top: 150px">
         Pour la création d'un quiz se rendre dans la barre des taches:
      </div>
        <div class="col">
        <img alt="QuizBar" height="300px" src="../../../../assets/QuizBar.png" width="700px"> <br>
        </div>
      </div>

         <div class="row" style="margin-top: 30px">
      <div class="col" style="margin-top: 150px">
        Puis creer un quiz:<br>
      </div>
        <div class="col">
        <img alt="QuizBar" height="300px" src="../../../../assets/CreateQuiz.png" width="700px"><br>
        </div>
      </div>

        <div class="row" style="margin-top: 30px">
      <div class="col" style="margin-top: 150px">
        Le menu permet de creer un quiz avec des images (optionel):      <br>
      </div>
        <div class="col">
        <img alt="QuizBar" height="300px" src="../../../../assets/CreateQuizComponent.png" width="700px"><br>
        </div>
      </div>
    </div>

      <div class="container " id="part2"
           style="font-family: Verdana, Geneva, sans-serif;border-radius: 30px; background-color: ghostwhite">
        <div class="row" style="margin-top: 30px">
      <div class="col" style="margin-top: 150px">
        Voir et modifier la liste des quizzes: <br>
      </div>
        <div class="col">
        <img alt="QuizBar" height="300px" src="../../../../assets/ModifyQuiz.png" width="700px"> <br>
        </div>
      </div>

         <div class="row" style="margin-top: 30px">
      <div class="col" style="margin-top: 150px">
        La carte de quiz est crée et est modifiable: <br>
      </div>
        <div class="col">
        <img alt="QuizBar" height="300px" src="../../../../assets/Exemple%20creation%20quiz.png" width="700px"> <br>
        </div>
      </div>
      </div>


      <div class="container bg-dark text-white" id="part3"
           style="border-radius: 30px;font-family: Verdana, Geneva, sans-serif">
        <div class="row" style="margin-top: 30px">
      <div class="col" style="margin-top: 150px">
        Pour Jouer les quiz crées: <br>
      </div>
        <div class="col">
        <img alt="QuizBar" height="300px" src="../../../../assets/lancerQuiz.png" width="700px"> <br>
        </div>
      </div>

      <div class="row" style="margin-top: 30px">
      <div class="col" style="margin-top: 150px">
        Cliquer sur selectionner pour jouer un quiz: <br>
      </div>
        <div class="col">
        <img alt="QuizBar" height="300px" src="../../../../assets/Exemple%20de%20quiz%20cree.png" width="700px"> <br>
        </div>
      </div>

      <div class="row" style="margin-top: 30px">
      <div class="col" style="margin-top: 150px">
       Exemple de jeu d'un Quiz à image: <br>
      </div>
        <div class="col">
        <img alt="QuizBar" height="300px" src="../../../../assets/jeu.png" width="700px"> <br>
        </div>
      </div>
      </div>

      <div class="container" id="part4"
           style="font-family: Verdana, Geneva, sans-serif;border-radius: 30px; background-color: ghostwhite">
         <div class="row" style="margin-top: 30px">
      <div class="col" style="margin-top: 120px">
       Pour terminer l'entête de page est disponible dans la sideBar: <br>
      </div>
        <div class="col">
        <img alt="QuizBar" height="300px" src="../../../../assets/sidebar.png"> <br>
        </div>
      </div>
      </div>

    </span>
  </div>
</section>
