section {
  min-height: 60vh;
}

#description {
}

section::before {
  display: block;
  content: " ";
  margin-top: -65px;
  height: 65px;
  visibility: hidden;
}

#section {
  //background-image: url("http://getwallpapers.com/wallpaper/full/f/e/3/168419.jpg");
  //background: whitesmoke;
  background: #282727;

}

#description {
  // background: whitesmoke;
}

#desc {
  font-family: "Andale Mono", serif;
}

#text {
  margin-top: 5vh;
}

#part1, #part2, #part3, #part4 {
  padding-top: 20px;
  padding-bottom: 20px;
}
