<div class="container-fluid">
  <header>
    <div class="navbar">

      <div id="img-polytech">
        <a href="http://unice.fr/polytechnice/fr#.Xneg7NOg-Hs" target="_blank" ><img src="../../assets/Polytech2.png" style="max-width: 100px" alt="Png Polytech"></a>
      </div>

      <div id="img-epdhad1">
       <a href="#Accueil"><img src="../../assets/ephad5.jpg" alt="image ephad"></a>
      </div>

      <div class="rubrique">
        <a id="APropos" href="#APropos"  >{{APropos}}</a>
        <a id="Lancement" class href="#Lancement" >{{Lancement}}</a>
        <a id="Gestion_quiz" href="#Gestion_quiz" >{{GestionQuiz}}</a>
        <a id="Accueil" href="#Accueil" onclick="message()" >{{Accueil}}</a>
      </div>

    </div>
  </header>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
