.card {
  font-family: Candara, monospace;
  padding: 1%;
  background: #006fc2;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  color: white;
  max-height: 50vh;
}

#question-Image {
  width: 8%;
  float: left;
  display: flex;
}

#answers {
  font-family: Calibri, sans-serif;
  font-weight: bold;
  display: inline;
  font-size: 3vh;
}



