input[type=checkbox] {
  -ms-transform: scale(5);
  -moz-transform: scale(5);
  -webkit-transform: scale(5);
  -o-transform: scale(5);
  transform: scale(4);
  padding-left: 50px;
  left: 100%;
}

.quest {
  margin-top: 100px;
}

#quiz {
  min-height: 100vh;
  background: url("https://images.hdqwalls.com/wallpapers/material-minimalist-4k-o3.jpg");
}

#answerBox {
  padding-left: 500px;
}

#suivantBtn, #finishBtn {
  display: block;
  position: relative;
  float: right;
  margin-top: 50px;
}
