<div class="quiz-list  container-fluid text-center">

  <div class="display-1 font-weight-bolder text-dark" style="color: #dddddd">
    Modifications des Quizzes
  </div>

  <div *ngIf="quizList.length === 0">
    <div class="display-1">
      Aucun Quiz
    </div>
  </div>
  <ng-template [ngForOf]="this.quizList" class="quiz d-inline-block " let-quiz ngFor>
    <app-quiz (deleteQuiz)="deleteQuiz($event)" (editQuiz)="editQuiz($event)" (modifyQuiz)="modifyQuiz($event)"
              (quizSelected)="quizSelected($event)" [quiz]="quiz"></app-quiz>
  </ng-template>
</div>



