.quiz-list {
  font-family: Candara, monospace;
  //background: url("https://images.hdqwalls.com/wallpapers/abstract-material-flat-design-9j.jpg");
  background: #dbdada;
  height: auto;
  min-height: 90vh;
}

button {
  background-image: url('/front-end/src/assets/name.png');
  height: 50px;
  width: 50px;
}

#id {
  height: 50px;
  width: 50px;
}
