.quiz-list {

  font-family: Candara, monospace;
  background: url("https://id.sonyentertainmentnetwork.com/signin/9cccd090cc9d79d84deda1e03ae1c407ea1dc561/assets/images/wallpaper.jpg");

  background: whitesmoke;
  height: auto;
  min-height: 90vh;
}

button {
  background-image: url('/front-end/src/assets/name.png');
  height: 50px;
  width: 50px;
}

#id {
  height: 50px;
  width: 50px;
}
