<div class="quiz-list  container-fluid text-center">

  <div class="display-1 font-weight-bolder" style="color: #dddddd">
    Les Quizzes
  </div>

  <div *ngIf="quizList.length === 0">
    <div class="display-1">
      Aucun Quiz
    </div>
  </div>
  <div *ngFor="let quiz of quizList; let i = index" class="quiz">
    <app-quiz (deleteQuiz)="deleteQuiz($event)" (editQuiz)="editQuiz($event)" (modifyQuiz)="modifyQuiz($event)"
              (quizSelected)="quizSelected($event)" [quiz]="quiz"></app-quiz>
    <div *ngIf="(1+1)%2 == 0">
      <br>
    </div>
  </div>
</div>



