@import '../../../styles/card.scss';

.edit {
  margin-left: 0.3em;
  font-family: Candara, monospace;
}

.card, #quiz-card2 {
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  width: 100vh;
  height: 50vh;
  min-width: 20vh;

}

h2 {
  color: #000000;
}

button {
  border-radius: 1rem;
  padding: 50px;
  border: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
