<div class="all">
  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" style="height: 93vh">
      <div class="p-4 pt-5">
        <a class="image rounded-circle mb-5"
           style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f4/User_Avatar_2.png')"></a>
        <ul class="list-unstyled components mb-5">
          <li>
            <a routerLink="/accueil">Accueil</a>
          </li>
          <li class="active">
            <a aria-expanded="false" class="dropdown-toggle text-white" data-toggle="collapse"
               href="#homeSubmenu">Quiz Image</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                <a routerLink="quiz-form">Créer Quiz Image</a>
              </li>
              <li>
                <a routerLink="quiz-list">Liste Quiz Image</a>
              </li>
              <li>
                <a routerLink="view-list-quiz">Lancer un Quiz Image</a>
              </li>
            </ul>
          </li>
          <li>
            <a aria-expanded="false" class="dropdown-toggle" data-toggle="collapse" href="#pageSubmenu">Quiz
              Couleur</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                <a routerLink="quiz-color-form">Créer Quiz Couleur</a>
              </li>
              <li>
                <a routerLink="quiz-color-list">Liste Quiz Couleur</a>
              </li>
              <li>
                <a routerLink="quiz-color-view-list">Lancer un Quiz Couleur</a>
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="apropos">Tutoriel</a>
          </li>
          <li>
            <a routerLink="resultats-record">Résultats</a>
          </li>
        </ul>

      </div>
    </nav>

  </div>

</div>

