#resultat-record {
  background: url("https://images.hdqwalls.com/wallpapers/geometry-abstract-material-design-pk.jpg");
  min-height: 60vh;
}

#result-container {
  background: whitesmoke;
  min-height: 60vh;
}
