<div class="container-fluid" id="resultat-record">
  <div class="container" id="result-container">
    <div class="display-4">Historique de jeux</div>
    <table class="table table-sm table-dark">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Start Date</th>
        <th scope="col">Duration</th>
        <th scope="col">Number of Attemps</th>
        <th scope="col">Score</th>
        <th scope="col">End Date</th>

      </tr>
      </thead>
      <tbody *ngFor="let gameRec of gameRecordList; let i = index">
      <tr>
        <th scope="row">{{i + 1}}</th>
        <td>{{gameRec.typeOfQuiz}} </td>
        <td>{{gameRec.startDate | date:'MMMM d, y, HH:mm:ss '}}</td>
        <td>{{gameRec.duration}} s</td>
        <td>{{gameRec.numberOfAttempts}}</td>
        <td>{{gameRec.finalScore}}</td>
        <td>{{gameRec.endDate | date:'HH:mm:ss'}}</td>
      </tr>
      </tbody>
    </table>
    <!-- <button (click)="deleteGameRecorder()" class="btn-primary" id="supr" style="width: 100px;height: 100px">delete</button>-->
    <button (click)="deleteGameRecorder()" color="primary" mdbBtn mdbWavesEffect type="button">Delete</button>

  </div>


</div>
