<div class="container" id="yo">
  <table class="table container">
    <thead class="black white-text">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Prénon</th>
      <th scope="col">Nom</th>
      <th scope="col">Age</th>
      <th scope="col">Type</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.age}}</td>
      <td>{{user.type}}</td>
    </tr>
    </tbody>
  </table>
  <button (click)="deleteUserDialog()" class="btn btn-primary" data-target="#modal" data-toggle="modal" mdbBtn
          type="button">
    Supprimer
  </button>
</div>
