<div class="container" id="yo">
  <table class="table container">
    <thead class="black white-text">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Prénon</th>
      <th scope="col">Nom</th>
      <th scope="col">Age</th>
      <th scope="col">Type</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.age}}</td>
      <td>{{user.type}}</td>
    </tr>
    </tbody>
  </table>
  <button (click)="deleteUserDialog()" class="btn btn-primary" data-target="#modal" data-toggle="modal" mdbBtn
          type="button">
    Supprimer
  </button>
</div>


<!--<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="modal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Supression</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="select">Liste </label>
        <br>
        <select id="select">
          <option *ngFor="let user of users; let i = index" [value]="user._id">
            {{user.firstName}} {{user.lastName}}
          </option>
        </select>

      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" type="button">Annuler</button>
        <button (click)="deleteAUser()" class="btn btn-primary" data-dismiss="modal" type="button">Supprimer</button>
      </div>
    </div>
  </div>
</div>-->

