
/*.container {
  height: 100%;
  background-color: floralwhite;
  color: #004fb5;
  padding-bottom: 250px;
}

h1 {
  padding-top: 100px;
}

p {
  padding-top: 150px;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  color: #0659b5;
  font-size: 30px;
}

p {
  padding-bottom: 100px;
}

.lead {
  color: floralwhite;
}

#message {
  padding-top: 350px;
}
