<button class="button-card bg-primary" routerLink="/quiz-list">Back</button>

<div class="card w-100">
  <h2>Modifier un quiz</h2>
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="name">
      Titre <br>
      <input class="input-custom" type="text" id="name" [formControlName]="'name'">
    </label>
    <br>
    <label for="theme">
      Thème <br>
      <input class="input-custom" type="text" id="theme" [formControlName]="'theme'">
    </label>
    <br>
    <button routerLink="/quiz-list" routerLinkActive="active" type="submit" class="button-card" (click)="modifyQuiz() ">Modify</button>
  </form>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
