@import '~bootstrap/dist/css/bootstrap.min.css';

.container-fluid, #copyright {
  //background-color: #313431;
  color: #dddddd;
  font-size: 25px;
  background-image: url("https://wallpapertag.com/wallpaper/full/9/9/4/870041-cool-solid-black-wallpaper-1920x1080-1920x1080.jpg");

}

#PhraseEHPAD {
  line-height: 1.3rem;
  text-decoration: underline;
  color: #ffffff;
  font-weight: lighter;
  font-size: 25px;
}

#villes1 a, #villes2 a {
  color: whitesmoke;
  font-family: "Candara Light", fantasy;
  font-weight: bold;
  font-size: 25px;
}

footer{
  position: relative;
  width: auto;
  height: min-content;
}

ul {
  list-style-type: none;
}
